.footerDefault{
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerSocial a{
  margin-right:10px;
}
.footerCopyright{
  text-align: center;
  width: 50%;
}