.headerPadrao{
  position:fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  z-index: 4;
}
.logoSection{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logoDefault img {
  max-width: 186px;
  height: auto;
}
.headerPadrao a {
  color:#ffffff;
}

