@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
*{  
  font-family: 'Didact Gothic', sans-serif;
  /* configuração padrão caso queiram usar */
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
   
}

.bodyContent{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainBanner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clientFeedbackSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedbackDescription{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedbackCards{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.card{
  width: 450px;
  height: 300px;
}

