.footerDefault {
  padding: 20px;
  width: 100vw;
  background-color: #dedfc6;
  display: flex;
  flex-direction: column;
  align-items: center; 

  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 0px 0px 10px 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Estilizando Copyright */
.footerCopyright {
  max-width: 550px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}


.footerCopyright h4{
  font-weight:400;
}


.footerImg img{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 240px;
}

/* Estilização social */

.footerSocial{
  display: flex;
 
}

.footerSocial a {
  text-decoration: none;

}
.footerSocial i{
  margin-left: 8px;
}



.social {
  margin: 10px;
  font-size: 30px;
  text-decoration: none;
  color: #b9b78f;
}

.footerSocial a:hover,
.footerSocial a:focus {
  color: #fbfbfb;
  text-decoration: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}


.footerPropertyText { 
  text-align:justify;  
}



.footerContats {
  display: flex;
  flex-direction: column;
  text-align: center;

}



/* footer IMG */

.footerImg{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  z-index: 1;


}


