.footerDefault {
  background-color: #bfc0b9;
  width: 100%;
  height: 100%;
  display: flex;
 
 
}
.footerImg img{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 240px;

}

.footerDefaultCopyright{
  display: flex;
  flex-wrap: wrap;
}


.contatsMain{

  display: flex;
  flex-wrap: wrap;

}
.footerContats {
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 300px;
  text-align: justify;

}

.footerDefault h2 {
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
  font-weight: 400;
}

.footerPropertyText { 
  text-align:center;  
  margin: 10px;
}


/* Estilização social */

.footerSocial a {
  margin-right: 10px;
  text-decoration: none;

}


.social {
  margin: 10px;
  font-size: 30px;
  text-decoration: none;
  color: #81847e;
}

.footerSocial a:hover,
.footerSocial a:focus {
  color: #fbfbfb;
  text-decoration: none;
  
  transition: 1s; 
 
}


/* Estilizando Copyright */
.footerCopyright {
  text-align: center;
  max-width: 450px;
}


/* Responsivo footer */

@media (max-width:390px) {
  .footerDefault .footerSocial:not(.social) {
    text-align: center;

    padding-bottom:20px;
  }
}

.footerContats{
  padding: 12px;
}
.footerDefault .footerPropertyText {
 min-width: 100%;
}

@media (max-width:430px) {
  .footerDefault .footerPropertyText {
    margin-bottom: 0;
    text-align: center;

  }
}

.footerPropertyText p {
  opacity: 0.6;
  margin-bottom: 0;
  text-align: center;

}

.social {
  text-align: center;

}

@media (max-width:991px) {
  .footerDefault .social {
    text-align: center;
    margin-top: 20px;
  }
}