.footerDefault {
  padding-left: 70px;
  background-color: #dedfc6;
  z-index: 3;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
 
 
}
.footerImg img{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 240px;
}

.footerDefaultCopyright{
  display: flex;
  flex-wrap: wrap;
}

.footerCopyrigh{
  width: 50vw;
}


.footerContats {
  width: 45vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 200px;
  text-align: center;

}


.footerPropertyText { 
  text-align:justify;  
}


/* Estilização social */

.footerSocial{
  display: flex;
 
}

.footerSocial a {
  text-decoration: none;

}
.footerSocial i{
  margin-left: 8px;
}



.social {
  margin: 10px;
  font-size: 30px;
  text-decoration: none;
  color: #b9b78f;
}

.footerSocial a:hover,
.footerSocial a:focus {
  color: #fbfbfb;
  text-decoration: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}


/* Estilizando Copyright */
.footerCopyright {
  display: flex;
  margin-top: 20px;
  text-align: center;
  max-width: 450px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}


.footerCopyright h4{
  font-weight: 400;
}



/* footer IMG */

.footerImg{

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  z-index: 1;
  backdrop-filter: blur(12px);
}



/* Responsivo footer */

@media screen and (max-width:1024px) {

.footerContats{
  width: 100%;
  margin: 20px;
} 


.footerDefault .footerDefaultCopyright {
  align-items: center;
  justify-content: center;
  

}
}




@media (max-width:390px) {

  .footerContats{
    width: 100%;
    margin: 20px;
   
  }

  
  }
