@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    font-family: 'Didact Gothic', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Configuração Banner */
.bannerContainer {
    width: 100%;
    height: 100vh;
    background-image: url(../static/image/carros/homem-jovem-feliz-na-concessionaria-de-carros_23-2148130216.jpg);
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}


.bannerBox {
    text-align: center;
    margin-left: 50px;
}

.bannerBox h1 {
    color: black;
    font-weight: bold;
    font-size: 35px
}

.bannerBox p {
    font-size: 24px;
}

.bannerBox>.bannerAtendimento {
    margin-top: 8px;
    font-size: 18px;
}

.btn-verMais {
    font-weight: 600;
    font-size: 20px;
    height: 40px;
    width: 300px;
    color: white;
    background: rgba(184, 183, 143, 1);
    border: none;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
}

@media screen and(max-width: 1024px) {
    .bannerContainer {
        width: 100%;
        height: 100vw;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* Section seguro ideal */

.idealInsuranceSection{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.idealInsuranceSection h2{
    text-align: center;
}

.subText1{
    max-width: 800px;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
}

.seguroCarroBox{
    margin: 8px;
    background-color: #ccc;
    border-radius: 8px;
    
}


.carroBoxShield i{
    font-size: 100px;
}

.carroBoxText {
    text-align: center;
}

.textCardInsurance{
    max-width: 800px;
    text-align: center;
}

